.img-div img {
    height: 60px;
    padding: 16px 0;
    
}
.main-div-for-treatment-option.text-center {
    margin-top: 60px;
}
.treatment-heading h5 {
    font-weight: 500;
    padding: 7px 0;
}                                  
.treatment-heading p {
    margin: 0 26px;
    font-weight: 400;
    color: #767676;
    font-size: 15px;
}
