.need-padding{
    padding: 50px 0;
}
.banner{
    background:url(../../../images/Mask-Group-1.png)no-repeat fixed ;
    background-size:cover;
    height: 350px;
    position: relative;
    z-index: -1111;
}
.banner::before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.87);
}

.doctor-img img {
    height: 451px;
    position: relative;
}
.doctor-img {
    position: relative;
    bottom: 101px;
}
.appointment-part {
    position: relative;
    z-index: 111;
    margin: 50px 0;
    color:#FFF
}
.appointment-part h6 {
    color: #00eaff;
    padding: 6px 0;
    font-weight: 600;
}
.appointment-part p {
    font-weight: 400;
    font-size: 13px;
    padding: 15px 0;
}
.appointment-part button {
    background: linear-gradient(45deg, #04aac7, #ff6a14b5);
    border: none;
    color: #FFF;
    display: inline-block;
    padding: 6px 24px;
    border-radius: 5px;
    cursor: pointer!important;
    outline: none;
    font-weight: 500;
    transition: .3s;
    position: relative;
    bottom: 6px;
}
.appointment-part button:hover {
    
     background: linear-gradient(45deg, #0fafec, #136b12b5);
    letter-spacing: .5px;
}
@media only screen and (max-device-width: 991px) {
    .appointment-part h1 {
        color: black;
    }
    .appointment-part p {
        color: black;
    }
}